{% extends 'layout.html.twig' %}

{% block main %}

    {% set breadcrumb = { 'title': 'Contactanos' } %}
    {% include 'partials/breadcrumb.html.twig' with breadcrumb only %}

    {% set contactUsWhiteBox = true %}
    {% set contactUsHideTitle = true %}

    {% include('partials/new_contact_us_box.html.twig') %}

    <div style="margin-bottom: 60px;"></div>

{% endblock main %}
