/*--
    THEME BASIC
--------------------------------------*/
/* Buttons */
.theme-basic .btn-color,
.theme-basic .subscribe-btn {
  background-color: #14836a;
}
.theme-basic .address {
  background-color: #29b297;
}
/* Borders */
.theme-basic .portfolio-item,
.theme-basic .nav > li > a:hover,
.theme-basic .nav > li > a:focus,
.theme-basic .nav > li > #current {
  border-color: #29b297;
}


/*--
    THEME MODERN
--------------------------------------*/
/* Buttons */
.theme-modern .btn-color:hover,
.theme-modern .subscribe-btn:hover {
  background-color: #29b297;
}
.theme-modern .btn-color,
.theme-modern .subscribe-btn {
  background-color: #14836a;
}

/* Titles */
.theme-modern .nivo-caption .title,
.theme-modern .contact-form .title,
.theme-modern .address .title {
  background-color: #29b297;
}

/* Borders */
.theme-modern .portfolio-item,
.theme-modern .nav > li > a:hover,
.theme-modern .nav > li > a:focus,
.theme-modern .nav > li > #current {
  border-color: #29b297;
}

/* Modal */
.theme-modern .modal-content {
  background-color: #29b297;
}