.theme-apparel .contact-us p{
  color:black;
}
.theme-apparel .btn-color, .theme-apparel .subscribe-btn{
  background-color: #1A4C6E;
}

.theme-apparel .callyou .pedir{
  background-color: transparent;
}



/*--
    THEME BASIC
--------------------------------------*/
/* Buttons */
.theme-basic .btn-color,
.theme-basic .subscribe-btn {
  background-color: #2980b9;
}
.theme-basic .address {
  background-color: #1A4C6E;
}
/* Borders */
.theme-basic .portfolio-item,
.theme-basic .nav > li > a:hover,
.theme-basic .nav > li > a:focus,
.theme-basic .nav > li > #current {
  background-color: #315E7C;
}

.theme-basic .callyou .pedir{
  background-color: transparent;
}

.theme-basic .contact-form {
    background-color: #1A4C6E;
    padding: 20px 25px;
    color: #FFF;
}

/*--
    THEME MODERN
--------------------------------------*/
/* Buttons */
.theme-modern .btn-color,
.theme-modern .subscribe-btn {
  background-color: #2980b9;
}
.theme-modern .btn-color:hover,
.theme-modern .subscribe-btn:hover {
  background-color: #1A4C6E;
}

/* Titles */
.theme-modern .nivo-caption .title,
.theme-modern .contact-form .title,
.theme-modern .address .title {
  background-color: #1A4C6E;
}

/* Borders */
.theme-modern .portfolio-item,
.theme-modern .nav > li > a:hover,
.theme-modern .nav > li > a:focus,
.theme-modern .nav > li > #current {
  border-color: #1A4C6E;
}

/* Modal */
.theme-modern .modal-content {
  background-color: #1A4C6E;
}


/*--
    THEME MOTORS
--------------------------------------*/
.theme-motors #header .main-header {
  background-color: #233342;
  border-color: #f29100;
}
.theme-motors .tp-caption.modern_big_bluebg {
  background-color: rgba(19,64,81,.5);
  border-bottom-color: #f29100;
}
.theme-motors .sliderContainer .contact-form {
  background-color: rgba(19,64,81,.5);
}
.theme-motors .contact-form {
  background-color: #2C4254;
}

#header .main-header{
  background-color: #1A4C6E;
}
.theme-motors .navbar-collapse ul{
background-color:#233342;
}

.navbar-collapse ul{
  background-color: #1A4C6E;
}
/* Buttons */
.theme-motors .btn-color,
.theme-motors .subscribe-btn {
  color: #134051;
  background-color: #f29100;
}
.theme-motors .btn-color:hover,
.theme-motors .subscribe-btn:hover {
  background-color: #ef9c2e;
}

/* Address box */
.theme-motors .address {
  background-color: #2C4254;
}
.theme-motors .address .phone {
  background-color: #1E2B39;
}
.theme-motors .address i {
  color: #f29100;
}

/* Gallery */
.theme-motors .portfolio-item {
  border-bottom-color: #f29100;
}
.portfolio-item-title, .portfolio-item-title a {
  background-color: #2C4254;
    color: #FFF;
}

.callyou .pedir{
  background-color: #1E2B39;
}

.footer-top {
  background: #134151;
}
.footer-bottom {
  background: #0d2f3b;
  color: #FFF;
}
.footer-bottom a,
#footer h3,
.contact-us li i {
  color: #FFF;
}

/* PIXMA */

.theme-pixma .callyou .pedir {
  background-color: transparent;
}
.theme-pixma .contact-us p, .theme-pixma .address-widget li, .theme-pixma .address-widget p{
  color:black;
}


.theme-motors .callyou{
  background-color:#134151;
}

  .theme-motors .address-widget, .theme-motors .contact-us{
  background-color: #134151; /* footer-top */
  padding:20px;
}

.theme-motors .callyou{
  background-color:#134151;
}

.contact-us p, .address-widget li, .address-widget p{
  color:white;
}


.theme-pixma .footer-top .contact-us p {
  color:white;
}