.theme-apparel .contact-us p{
  color:black;
}

.title a{
  color:red;
}
/*--
    THEME BASIC
--------------------------------------*/
/* Buttons */
.theme-basic .btn-color,
.theme-basic .subscribe-btn {
  background-color: #c0392b;
}
.theme-basic .address {
  background-color: #e74c3c;
}
/* Borders */
.theme-basic .portfolio-item,
.theme-basic .nav > li > a:hover,
.theme-basic .nav > li > a:focus,
.theme-basic .nav > li > #current {
  border-color: #e74c3c;
}

.theme-basic .callyou .pedir {
  background-color: transparent;
}
.portfolio-item-title, .portfolio-item-title a{
  color:white;
  }

  .theme-basic .contact-form, .theme-basic .address{
  background-color: #A00;
}
/*--
    THEME MODERN
--------------------------------------*/
/* Buttons */
.theme-modern .btn-color:hover,
.theme-modern .subscribe-btn:hover {
  background-color: #e74c3c;
}
.theme-modern .btn-color,
.theme-modern .subscribe-btn {
  background-color: #c0392b;
}

/* Titles */
.theme-modern .nivo-caption .title,
.theme-modern .contact-form .title,
.theme-modern .address .title {
  background-color: #e74c3c;
}

/* Borders */
.theme-modern .portfolio-item,
.theme-modern .nav > li > a:hover,
.theme-modern .nav > li > a:focus,
.theme-modern .nav > li > #current {
  border-color: #e74c3c;
}

/* Modal */
.theme-modern .modal-content {
  background-color: #e74c3c;
}


/*--
    THEME APPAREL
--------------------------------------*/
.theme-apparel {
  color: #eef1cc;
}
.theme-apparel .btn-color,
.theme-apparel .subscribe-btn,
.theme-apparel .nav > li > a,
.theme-apparel .address .phone a {
  color: #eef1cc;
}

/* Borders */
.theme-apparel h3.title,
.theme-apparel #header .main-header,
.theme-apparel .portfolio-item,
.theme-apparel .contact-form,
.theme-apparel .portfolio-item-title,
.theme-apparel .address {
  border-color: #eef1cc;
}
.theme-apparel .nav > li > a:hover,
.theme-apparel .nav > li > a:focus,
.theme-apparel .nav > li > #current {
  border-color: #831c3d;
}
.theme-apparel .callyou .pedir {
  background-color: transparent;
}
/* Buttons */
.theme-apparel .btn-color:hover,
.theme-apparel .subscribe-btn:hover {
  background-color: #962a51;
}
.theme-apparel .btn-color,
.theme-apparel .subscribe-btn {
  background-color: #831c3d;
}

.theme-apparel .nivo-caption .title,
.theme-apparel .nivo-caption .subtitle {
  background-color: rgba(33,21,33,.8);
}
.theme-apparel .reply input,
.theme-apparel .reply textarea {
    background-color: #dee8bf;
    border-color: #555253;
    color: #2f2935;
}

/* Footer */
.theme-apparel .footer-top {
  background-color: #242128;
}
.theme-apparel .footer-bottom,
.theme-apparel .member-social.dark a {
  background-color: #19181c;
}
.theme-apparel .footer-top,
.theme-apparel .footer-bottom,
.theme-apparel footer .contact-us a {
  color: #eef1cc!important;
}

.navbar-collapse ul{
  background-color: #B20000;
}

#header .main-header {
  background-color: #B20000;
  }

  .contact-form, .tp-caption.modern_big_bluebg {
  background-color: rgba(125,0,0,.7);
}

.btn-color, .subscribe-btn {
  background-color: #640000;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > #current {
  background-color: #BA1919;
}

.address {
  background-color: #800000;
  }

  .address .phone {
  background-color: #A00000;
}

.callyou .pedir {
  background-color: #A00000;
  }

  .callyou .pedir .btn-color {
    color:#FFF;
  }

  .portfolio-item-title {
  color: #FFF;
  background-color: #A00;
}

.footer-bottom{
  background-color: #A00;
}

.footer-top{
  background-color: #B00;
}

/*pixma*/
.theme-pixma .nav > li > a:hover,
.theme-pixma .nav > li > a:focus,
.theme-pixma .nav > li > #current {
background-color: #BA1919;
}

  .theme-pixma .callyou .pedir {
  background-color: transparent;
}

.theme-pixma .btn-color, .theme-pixma .subscribe-btn {
  color:white;
}

.theme-pixma .address .phone a{
color:white;
}

.theme-pixma .actions{
  padding:10px;
}

.theme-pixma .address-widget{
  padding:20px;
}
.theme-pixma .contact-form, .tp-caption.modern_big_bluebg {
  background: transparent;
}

.theme-pixma .contact-us p{
color:black;
}

.theme-pixma .footer-top .contact-us p{
color:white;
}


.theme-motors .callyou{
  background-color:#B00;
}
  .theme-motors .address-widget, .theme-motors .contact-us{
  background-color:#B00; /* footer-top */
  padding:20px;
}

.theme-motors .callyou{
  background-color:#B00;
}

.contact-us p, .address-widget li, .address-widget p{
  color:white;
}
.theme-pixma .contact-us p, .theme-pixma .address-widget li, .theme-pixma .address-widget p{
  color:black;
}


.theme-pixma .footer-top .contact-us p {
  color:white;
}